header {
  height: 50px;
}

nav {
  height: inherit;
}

nav {
  display: flex;
  align-items: center;
}

nav div:first-child {
  height: 100%;
  width: 320px;
  text-align: center;
  background-color: #fafafa;
  border-right: 1px solid #ddd;
}

nav div:last-child {
  display: flex;
  height: 100%;
  background-color: rgba(153, 208, 251, 0.2);
  width: calc(100% - 320px);
}

nav div:first-child p {
  font-size: 33px;
  font-weight: bold;
  color: #fff;
  color: #234083;
  line-height: 50px;
}

p {
  margin: 0;
}

input[type='text'] {
  height: 100%;
  width: 100%;
  padding: 0 0 0 15px;
  font-size: 18px;
  border: none;
  outline: none;
  color: #242e50;
  background-color: rgba(153, 208, 251, 0.2);
  transition: all 0.3s;
}

::placeholder {
  color: #242e50;
}

input[type='text']:focus {
  background-color: #fff;
}

@media only screen and (max-width: 767px) {
  nav div:first-child {
    width: 250px;
  }
  nav div:last-child {
    width: calc(100% - 250px);
  }

  input[type='text'] {
    font-size: 15px;
  }
}

@media only screen and (max-width: 600px) {
  nav div:first-child {
    width: 70px;
  }
  nav div:last-child {
    width: calc(100% - 70px);
  }
  nav div:first-child p {
    font-size: 20px;
  }
}
