main {
  display: flex;
  height: calc(100% - 50px);
}

main aside {
  width: 320px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  background-color: #fafafa;
}

main div {
  width: calc(100% - 320px);
}

@media only screen and (max-width: 767px) {
  main aside {
    width: 250px;
  }
  main div {
    width: calc(100% - 250px);
  }
}

@media only screen and (max-width: 600px) {
  main aside {
    width: 70px;
  }
  main div {
    width: calc(100% - 70px);
  }
}
