#show-content {
  position: absolute;
  flex-direction: column;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.8);
  top: 0;
  right: 0;
  width: 25%;
  max-width: 300px;
  height: 100%;
  padding: 25px 20px;
  box-shadow: -9px 0px 5px 0px rgba(0, 0, 0, 0.01);
}

#show-content input {
  overflow-wrap: break-word;
  width: calc(100% - 15px);
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 30px;
}

#show-content form div {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#show-content h4 {
  font-size: 20px;
  text-decoration: underline;
  text-transform: capitalize;
}

#show-content label {
  font-weight: bold;
  margin-bottom: 5px;
}

#show-content textarea {
  display: block;
  margin-top: 8px;
  margin-bottom: 40px;
  padding-left: 15px;
  width: calc(100% - 15px);
  border-radius: 4px;
  outline: none;
  font-size: 18px;
}

#show-content button {
  width: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  border: none;
  font-size: 18px;
  background-color: #234083;
  color: #fff;
  cursor: pointer;
}

#show-content button:hover {
  background-color: #294994;
}

@media only screen and (max-width: 767px) {
  #show-content {
    width: 40%;
    padding: 15px 10px;
  }
}
