#todo-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

#todo-items li {
  list-style: none;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.07);
  padding: 18px;
  margin-bottom: 15px;
  width: 100%;
  cursor: pointer;
}

#todo-items li input[type='checkbox'] {
  margin-right: 20px;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background: #fff;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  position: relative;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

#todo-items li input[type='checkbox']:checked {
  background-color: #2ecc71;
}
#todo-items li input[type='checkbox']:focus {
  outline: 0 none;
  box-shadow: none;
}

#todo-items div:first-of-type {
  width: 90%;
}

#todo-items div:last-of-type {
  width: 10%;
  text-align: center;
}

#todo-items li h5 {
  width: 100%;
  margin: 0 0 7px;
  font-size: 18px;
}

#todo-items li p {
  width: 100%;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 767px) {
  #todo-items li {
    padding: 12px;
  }
  #todo-items li input[type='checkbox'] {
    margin-right: 10px;
    width: 23px;
    height: 23px;
  }
}
